body {
background-color: #B2FFFF ;


}

div {
width : 500px;
height: 100px;
background-color :yellow;
}

p {
  width : 500px;
  height: 100px;
  background-color :white;
}

.red {
  color:red;
}

.blue {
  color:blue;
}

.green {
  color: green;
  font-weight: bold;
}
