* {
  box-sizing: border-box;
}

body {
/*background-color: #B2FFFF ;*/
  background: #b3e5fc url("2.jpg") no-repeat fixed center;
}

div.header {
  background-color: #81d4fa;
  position: fixed;
  left: 0px;
  top: 0px;
  height: 81px;
  width: 100%;
  text-align: center;
  color: white;
}

div.container {
  display: inline-block ;
  padding-left: 630px;
  overflow: hidden;
	width: 100%;
}

div.divisors {
  height: 110px;
  background-color: white;
  float: left;
}

div.note {
  padding-left: 10px;
  padding-right: 10px;
  width: 210px;
}

div.form   {
  margin-left: 10px;
  padding-left:3px;
  width: 450px;

  float:rigth;
}

textarea {
  margin-top:  5px;
}
p {
  width : 671px;
  height: 50px;
  background-color :white;
  padding: 5px;
}

label {
  padding-left: 345px;
}
#container-twitters {
padding-left: 630px;
}

.red {
  color:red;
  font-weight: bold;
}

.blue {
  color:blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}
